
<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <header class="footer-title">Services</header> 
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav> 
  <nav>
    <header class="footer-title">Company</header> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <header class="footer-title">Legal</header> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>

      [Netlify Status](https://api.netlify.com/api/v1/badges/bdb2d4b9-01f8-4a4f-b7a8-0848a9016126/deploy-status)](https://app.netlify.com/sites/statuesque-melba-fad0a2/deploys)
