
<footer class="footer p-10 bg-neutral text-neutral-content">

  <div class="flex-1">
    <div><header class="footer-title">Services</header></div>
    <div><a class="link link-hover">Branding</a></div>
    <div><a class="link link-hover">Design</a></div>
    <div><a class="link link-hover">Marketing</a></div>
    <div><a class="link link-hover">Advertisement</a></div>
  </div> 

  <div class="flex-1">
    <div><header class="footer-title">Company</header></div>
    <div><a class="link link-hover">About us</a></div>
    <div><a class="link link-hover">Contact</a></div>
    <div><a class="link link-hover">Jobs</a></div>
    <div><a class="link link-hover">Press kit</a></div>
  </div> 

  <div class="flex-1">
    <div><header class="footer-title">Legal</header></div>
    <div><a class="link link-hover">Terms of use</a></div>
    <div><a class="link link-hover">Privacy policy</a></div>
    <div><a class="link link-hover">Cookie policy</a></div>
  </div>

</footer>

      [Netlify Status](https://api.netlify.com/api/v1/badges/bdb2d4b9-01f8-4a4f-b7a8-0848a9016126/deploy-status)](https://app.netlify.com/sites/statuesque-melba-fad0a2/deploys)
