---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/grids-responsive-min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">

    <link rel="stylesheet" href="/static/styles.css">

    <style>
      .splash-container {
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), 
           url("{{ hero_image }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    </style>

  </head>

  <body>

{% include "navbar.njk" %}

<div class="splash-container">
  <span role="img" aria-label="{{hero_alt}}"></span>
  <div class="splash">
      <h1 class="splash-head">{{ hero_text }}</h1>
      <p class="splash-subhead">
        {{ content | safe }}
      </p>
      <p>
          <a href="https://m.do.co/c/efae227da590" class="pure-button pure-button-primary">Get Started</a>
      </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
      <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

      <div class="pure-g">
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

              <h3 class="content-subhead">
                  <i class="fa fa-rocket"></i>
                  Get Started Quickly
              </h3>
              <p>
                  Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
              </p>
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
              <h3 class="content-subhead">
                  <i class="fa fa-mobile"></i>
                  Responsive Layouts
              </h3>
              <p>
                  Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
              </p>
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
              <h3 class="content-subhead">
                  <i class="fa fa-th-large"></i>
                  Modular
              </h3>
              <p>
                  Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
              </p>
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
              <h3 class="content-subhead">
                  <i class="fa fa-check-square-o"></i>
                  Plays Nice
              </h3>
              <p>
                  Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
              </p>
          </div>
      </div>
  </div>

  <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
          <img width="300" alt="File Icons" class="pure-img-responsive" src="/img/common/file-icons.png">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

          <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor.
          </p>
      </div>
  </div>

{% include "footer.njk" %}
    </div>
  </body>
</html>