---
layout: default
title: Home Page
hero_image: https://miro.medium.com/v2/1*_rE5zXXVTZ_R4u-2FZh0iw.jpeg
hero_text: Spicy Cloud Hosting
hero_alt: A very nice looking set of rack servers with a blue glow.
---

<div class="container-xl shadow-xl rounded-box p-4 my-4">
  <div class="hero w-full bg-center bg-cover min-h-96 bg-base-200" style="background-image: url({{hero_image}});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">We offer high speed, low cost cloud hosting for small businesses based in New Hampshire, USA.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div class="h-4"></div>

<div class="flex gap-4">

  <div class="flex-1 card shadow-xl rounded-box p-4">
    <div class="card-body">
      <h2 class="card-title">Why?</h2>
      <ul>
        <li>Why would I want to use a local company to host my website?</li>
        <li>Where do I find low cost, cheap, reliable hosting in NH?</li>
      </ul>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Start Here</button>
      </div>
    </div>
  </div>

  <div class="flex-1 card shadow-xl bg-base-100 rounded-box p-4">
    <div class="card-body">
      <h2 class="card-title">What?</h2>
      <ul>
        <li>What is a static web site?</li>
        <li>What does it cost to host a static web site?</li>
      </ul>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>


  <div class="flex-1 card shadow-xl bg-base-100 rounded-box p-4">
    <div class="card-body">
      <h2 class="card-title">Who?</h2>
      <ul>
        <li>Who are you?</li>
      </ul>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Find Out</button>
      </div>
    </div>
  </div>
</div>
