---
layout: default
title: Home Page
description: Cloud hosting for small businesses based in New Hampshire
hero_image: https://miro.medium.com/v2/1*_rE5zXXVTZ_R4u-2FZh0iw.jpeg
hero_text: Spicy Cloud Hosting
hero_alt: A very nice looking set of rack servers with a blue glow.
---

{{ title }}

